
.accueil {
    margin-top: 3rem;
    display: flex;
    justify-content: center;

}

.grid {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.accueil-femme, .accueil-homme, .accueil-garçonfille {
    width: 100%;
    
}
.un, .deux {
    margin-bottom: 10px;
}
.trois {
    grid-column: span 2;
}

.categoriesHomme {
    position: absolute;
    font-family: "medusa";
    font-size: 2.5rem;
    bottom: 20%;
    left: 70%;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.categoriesFemme {
    position: absolute;
    font-family: "medusa";
    font-size: 2.5rem;
    bottom: 20%;
    left: 20%;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.categoriesEnfant {
    position: relative;
    font-family: "medusa";
    font-size: 2.5rem;
    bottom: 50%;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

@font-face {
    font-family: "medusa";
    src: url("../fonts/MedusaGothic_D.otf");
};
