.Pics {
  width: 300px;
}

.Articles {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  margin: 5em 15em 5em;
}

.BigContainer {
  gap: 1em;
}

.Titles {
  position: absolute;
  margin-left: 17.5em;
  font-size: 2em;
}

.Price {
  position: relative;
  font-size: 2em;
  margin-left: 25em;
  margin-right: 2em;
}

.AddDel {
  background-color: white;
  color: black;
  font-weight: 800;
}
