@font-face {
  font-family: Title;
  src: url("../assets/MedusaGothicD.ttf");
}
@font-face {
  font-family: Texte;
  src: url("../assets/Montserrat-VariableFont_wght.ttf");
}

.Pics {
  width: 250px;
}

.CartBody {
  margin-top: 2em;
}

.Articles {
  background-image: url("../assets/marble1.jpg");
  width: 65em;
  font-family: "Montserrat", sans-serif;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0);
  border: 1px solid white;
  padding: 1em;
  display: flex;
  flex-direction: row;
  margin: 5em 3em 5em;
  transition: 0.3s;
  align-items: center;
  justify-content: flex-start;
}

.Articles:hover {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

.TitleCart {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Title;
}

.BigContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

.Titles {
  font-family: Title;
  width: 370px;
  position: absolute;
  margin-left: 12em;
  margin-right: 1em;
  font-size: 1.5em;
}

.Price {
  font-weight: 500;
  font-family: Texte;
  width: 150px;
  position: relative;
  font-size: 1.3em;
  margin-left: -17em;
  margin-right: 0em;
}

.AddDel {
  cursor: pointer;
  border-radius: 40px;
  margin-left: 0.5em;
  text-align: center;
  height: 45px;
  width: 65px;
  background-color: #b6a697;
  color: white;
  font-size: 1.5em;
  transition: 0.3s;
  border: none;
  box-shadow: 2px 2px 10px 2px grey(0, 0, 0, 0.2);
}

.AddDel:hover {
  box-shadow: 2px 2px 10px 2px grey(0, 0, 0, 0.8);
  transform: translateY(-3px);
}

.AddDel:active {
  transform: translateY(-10px);
}

.X {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  height: 25px;
  width: 25px;
  transition: 0.3s;
}

.X:hover {
  scale: 1.05;
}

.ImageX {
  gap: 47.5em;
  display: flex;
}

.Quantity {
  font-weight: 500;
  font-family: Texte;
  font-size: 1.2em;
  width: 170px;
}

.TotalContainer {
  display: flex;
  gap: 0.5em;
  font-family: Texte;
  background-image: url("../assets/marble1.jpg");
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0);
  border: 1px solid white;
  padding-top: 3em;
  margin: 3em;
  font-weight: 600;
  height: 13em;
  margin-top: 5em;
  text-align: center;
  width: 25em;
  flex-direction: column;
  align-items: center;
}
.TotalContainer:hover {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

.TotalTexts {
  width: 7em;
  border-radius: 20px;
  padding: 1em;
  background-color: white;
}

.NoArticles {
  font-family: Title;
  margin: 5em;
  text-align: center;
}

.BackToShop {
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  position: relative;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 900;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 17.5em;
}

.BackToShop:hover {
  background-color: #8b7f73;
  box-shadow: 0px 15px 20px black(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.BackToShop:active {
  transform: translateY(-1px);
}

.Paiement {
  font-family: "Montserrat", sans-serif;
  margin: 3em;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 900;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 10em;
}

.Paiement:hover {
  background-color: #b6a697;
  box-shadow: 0px 15px 20px #b6a697(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-5px);
}

.Paiement:active {
  transform: translateY(-1px);
}
