/* .conteneur-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.conteneur-images img {
  width: 100%; 
  height: auto;
  max-height: 500px;
}

.conteneur-images img.large {
  grid-column: span 5;
}
.conteneur-images div img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
} */
