.containt {
  position: relative;
  display: inline-block;
}
.bntDropDown {
  background-color: #B6A697;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menuPrincipal{
  font-size: 3rem;
}
.menuPrincipal:hover{
  color: #1E4F5E;
}

.liste a {
  padding: 30px 16px;
  text-decoration: none;
  display: block;
  font-family: Title;
  color: #B6A697;
  background-color: #f9f9f9;
  border: 3px solid;
}

.liste:hover {
  background-color: #f1f1f1;
}
.menuBurger {
  width: 2rem;
}
.menu .liste {
  position: relative;
}

.menu .liste .sous-menu {
  display: none;
  position: absolute;
  left: 100%; /* Positionnez à droite de l'élément de liste */
  top: 0;
  /* Ajoutez d'autres styles ici (background, padding, etc.) */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none;
  list-style-type: none;
}
.menu .liste .sous-menu li a {
  text-decoration: none; /* Enlève les soulignements des liens */
  color: inherit; /* Optionnel : utilisez la couleur de texte héritée */
  background-color: white;
}

.menu .liste:hover .sous-menu {
  display: block; /* Montrez le sous-menu au survol */
}
