.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Title;
  color: white;
  margin: 1.8rem 0;
}
.titre {
  font-size: 3rem;
  margin: 0;
  color: white;
}
.designBordure {
  width: 20rem;
}
.NmbrArticles {
  right: 3em;
  top: 12em;
  text-align: center;
  border-radius: 40px;
  /* right: 2em; */
  position: absolute;
  z-index: 99;
  padding: 0.5em;
  height: 15px;
  width: 15px;
  background-color: white;
  color: black;
}

.panierNav {
  width: 100px;
}
