
/* Largeur de la scrollbar */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #B6A697;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: url('../assets/scrollBar.png') ;
  }
  