form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.SearchBar {
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-radius: 100px;
  background-color: #B6A697;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}
