@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #b6a697;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.conteneur-images {
  margin: 100px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.conteneur-images img {
  object-fit: cover;
}
.card-image {
  filter: grayscale(2);
}
.card-image:hover {
  filter: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 7.5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136, 0.5);
  border-radius: 7.5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a6a6;
}
