body {
  background-color: #b6a697;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.conteneur-images {
  margin: 100px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.conteneur-images img {
  object-fit: cover;
}
.card-image {
  filter: grayscale(2);
}
.card-image:hover {
  filter: none;
}
